*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 1, 0.514),rgba(0, 0, 0, 0)),url(chd.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width:80px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 90%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
}
p{
    color:#fff;
    font-size: 20px;
    line-height: 23px;
}
button{
    width: 180px;
    color: #000;
    font-size: 1rem;
    padding: 12px 0;
    background: #fff;
    border: mediumturquoise;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}
.card{
    width: 150px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 20px;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
}
.card1{
    background-image: url(rock.png);
}
.card2{
    background-image: url(elente.png);
}
.card3{
    background-image: url(lake.png);
}
.card4{
    background-image: url(rose.png);
}
.card5{
    background-image: url(p.png);
}
.card6{
    background-image: url(17.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: rgb(234 42 42);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #f9e4e4;
    border-radius: 25px;
    margin: 0.6rem 0rem;
    text-align: center;
}

